<div class="container">
    <div class="row py-4">
        <div class="col-md-8">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-bs-toggle="tab" href="#home" (click)="getDailyArticle()">Article</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-bs-toggle="tab" href="#menu1">Menu 1</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-bs-toggle="tab" href="#menu2">Menu 2</a>
                </li>
            </ul>
            
            <!-- Tab panes -->
            <div class="tab-content">
                <div id="home" class="container tab-pane active"><br>
                    <ng-container *ngIf="isArticleLoaded">
                        <h4 class="text-dark text-center fw-bold mt-3">{{dailyParagrah.Title}}</h4>
                        <p>{{dailyParagrah.Content}}</p>
                        <p>Content is copy from <a [href]="dailyParagrah.Link">{{dailyParagrah.Link}}</a></p>
                    </ng-container>
                </div>
                <div id="menu1" class="container tab-pane fade"><br>
                    <h3>Menu 1</h3>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div id="menu2" class="container tab-pane fade"><br>
                    <h3>Menu 2</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 dictionary-container">
            <div class="card">
                <div class="card-header">
                  Dictionary
                </div>
                <div class="card-body">
                    <div class="d-flex border rounded align-items-center rounded-end-0">
                        <i class="fa fa-search px-2" aria-hidden="true"></i>
                        <input type="text" placeholder="Type....." class="form-control border-0" (keyup)="getWordMeaning($event)">
                        <div class="col-auto">
                            <a href="#" class="btn btn-primary rounded-start-0">Search</a>
                        </div>
                    </div>
                    <ng-container *ngIf="isDictionaryLoaded">
                        <div class="py-2" *ngIf="dictionay.length > 0">
                            <ng-container *ngFor="let item of dictionay;">
                                <ng-container *ngIf="item.meanings.length > 0">
                                    <ng-container *ngFor="let item of item.meanings; let last = last">
                                        <ng-container *ngIf="item.partOfSpeech != null">
                                            <p class="my-2 text-dark fw-bold">Part Of Speech : <span class="text-primary text-italic">{{item.partOfSpeech | titlecase}}</span></p>
                                        </ng-container>
                                        <ng-container *ngIf="item.definitions.length > 0">
                                            <ng-container *ngFor="let item of item.definitions">
                                                <div>
                                                    <div class="d-flex text-dark">
                                                        <h6 class="mb-0 fw-bold pe-2">Defination:</h6>
                                                        <span>{{item.definition}}</span>
                                                    </div>
                                                </div>
                                                <ng-container *ngIf="item.example != null">
                                                    <p class="mb-2 fw-semibold text-success">Example : {{item.example}}</p>
                                                </ng-container>
                                            </ng-container>
                                        </ng-container>
                                        <ng-container *ngIf="item.antonyms.length > 0">
                                            <div class="my-2">Antonyms: 
                                                <span class="p-2" *ngFor="let item of item.antonyms">{{item}}</span>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="item.synonyms.length > 0">
                                            <div class="my-2">Synonyms:
                                                <span class="p-2" *ngFor="let item of item.synonyms">{{item}}</span>
                                            </div>
                                        </ng-container>
                                        <hr *ngIf="!last">
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </div>
                        <div class="py-5 fw-bold text-dark text-center" *ngIf="dictionay.length == 0">
                            Not found
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!isDictionaryLoaded">
                        <div class="my-5 py-5 d-flex justify-content-center">
                            <div class="new-loader"></div>
                        </div>
                    </ng-container>
                </div>
              </div>
        </div>
    </div>
</div>