<div class="conatiner p-3">
  <div class="col-md-12 mt-3 px-3">
    <label class="form-label">Title *</label>
    <input type="text" placeholder="Enter Tittle" [(ngModel)]="fileDetail.Title" class="form-control">
  </div>
  <div class="col-md-12 my-3 px-3">
    <label class="form-label">Description *</label>
    <textarea type="text" rows="4" placeholder="Enter Description" [(ngModel)]="fileDetail.Detail" class="form-control"></textarea>
  </div>
  <div id="richtextcontainer" class="col-md-12 overflow-hidden">
      <div class="d-flex align-items-center flex-wrap overflow-hidden col-md-12 mx-4">
        <a class="text-decoration-none px-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Theme" href="javascript:void(0)" (click)="toggleDarkLight()"><i class="fa fa-adjust"></i></a>
        <a class="text-decoration-none px-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Bold" href="javascript:void(0)" title="Negrito" (click)="execCmd('bold');"><i class="fa fa-bold"></i></a>
        <a class="text-decoration-none px-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Italic" href="javascript:void(0)" (click)="execCmd('italic');"><i class="fa fa-italic"></i></a>
        <a class="text-decoration-none px-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Underline" href="javascript:void(0)" (click)="execCmd('underline');"><i class="fa fa-underline"></i></a>
        <a class="text-decoration-none px-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Remove Formar" href="javascript:void(0)" (click)="execCmd('removeFormat');"><i class="fa fa-eraser"></i></a>
        <a class="text-decoration-none px-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Strike Through" href="javascript:void(0)" (click)="execCmd('strikeThrough');"><i class="fa fa-strikethrough"></i></a>
        <a class="text-decoration-none px-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Justify Left" href="javascript:void(0)" (click)="execCmd('justifyLeft');"><i class="fa fa-align-left"></i></a>
        <a class="text-decoration-none px-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Justify Center" href="javascript:void(0)" (click)="execCmd('justifyCenter');"><i class="fa fa-align-center"></i></a>
        <a class="text-decoration-none px-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Justify Right" href="javascript:void(0)" (click)="execCmd('justifyRight');"><i class="fa fa-align-right"></i></a>
        <a class="text-decoration-none px-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Justify Full" href="javascript:void(0)" (click)="execCmd('justifyFull');"><i class="fa fa-align-justify"></i></a>
        <a class="text-decoration-none px-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Cut" href="javascript:void(0)" (click)="execCmd('cut');"><i class="fa fa-cut"></i></a>
        <a class="text-decoration-none px-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Copy" href="javascript:void(0)" (click)="execCmd('copy');"><i class="fa fa-copy"></i></a>
        <a class="text-decoration-none px-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Indent" href="javascript:void(0)" (click)="execCmd('indent');"><i class="fa fa-indent"></i></a>
        <a class="text-decoration-none px-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Outdent" href="javascript:void(0)" (click)="execCmd('outdent');"><i class="fa fa-outdent"></i></a>
        <a class="text-decoration-none px-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Subscript" href="javascript:void(0)" (click)="execCmd('subscript');"><i class="fa fa-subscript"></i></a>
        <a class="text-decoration-none px-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Superscript" href="javascript:void(0)" (click)="execCmd('superscript');"><i class="fa fa-superscript"></i></a>
        <a class="text-decoration-none px-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Undo" href="javascript:void(0)" (click)="execCmd('undo');"><i class="fa fa-undo"></i></a>
        <a class="text-decoration-none px-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Redo" href="javascript:void(0)" (click)="execCmd('redo');"><i class="fa fa-repeat"></i></a>
        <a class="text-decoration-none px-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Unordered List" href="javascript:void(0)" (click)="execCmd('insertUnorderedList');"><i class="fa fa-list-ul"></i></a>
        <a class="text-decoration-none px-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Ordered List" href="javascript:void(0)" (click)="execCmd('insertOrderedList');"><i class="fa fa-list-ol"></i></a>
        <a class="text-decoration-none px-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Paragraph" href="javascript:void(0)" (click)="execCmd('insertParagraph');"><i class="fa fa-paragraph"></i></a>
        <a class="text-decoration-none px-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Horizental Line" href="javascript:void(0)" (click)="execCmd('insertHorizontalRule');">HR</a>
        <!-- <button class=" (click)="execCmd('createLink', prompt('Enter a URL', 'http://'));"><i class="fa fa-link"></i></button> -->
        <a class="text-decoration-none px-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Unlink" href="javascript:void(0)" (click)="execCmd('unlink');"><i class="fa fa-unlink"></i></a>
        <a class="text-decoration-none px-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Code" href="javascript:void(0)" (click)="toggleSource();"><i class="fa fa-code"></i></a>
        <a class="text-decoration-none px-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Edit Editor" href="javascript:void(0)" (click)="toggleEdit();"><i class="fa fa-pencil"></i></a>
        <div class="col-auto">
          <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Font Color" class="text-decoration-none" (change)="execCommandWithArg('foreColor', $event);">
            <input type="color" >
          </a>
        </div>
        <div class="col-auto">
          <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Background Color" class="text-decoration-none" >
            <input type="color" >
          </a>
        </div>
        <div class="col-auto">
          <select class="form-select border-0" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Format Block" (change)="execCommandWithArg('formatBlock', $event);" >
              <option value="H1">H1</option>
              <option value="H2">H2</option>
              <option value="H3">H3</option>
              <option value="H4">H4</option>
              <option value="H5">H5</option>
              <option value="H6">H6</option>
          </select>
        </div>
        <div class="col-auto mx-2">
          <select class="form-select border-0" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Font Name" (change)="execCommandWithArg('fontName', $event);">
              <option value="Arial">Arial</option>
              <option value="Comic Sans MS">Comic Sans MS</option>
              <option value="Courier">Courier</option>
              <option value="Georgia">Georgia</option>
              <option value="Tahoma">Tahoma</option>
              <option value="Times New Roman">Times New Roman</option>
              <option value="Verdana">Verdana</option>
          </select>
        </div>
        <div class="col-auto mx-2">
          <select class="form-select border-0" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Font Size" (change)="execCommandWithArg('fontSize', $event);">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
          </select>
        </div>
        <input type="file" id="uploarichimage" class="d-none" accept=".jpg, .jpeg, .png" (change)="uploadProfilePicture($event)">
        <a class="text-decoration-none px-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Attach Image" (click)="fireBrowserFile()"><i class="fa fa-file-image-o"></i></a>
        <a class="text-decoration-none px-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add Table" (click)="tabelPopUp()"><i class="fa fa-table"></i></a>
        <a class="text-decoration-none px-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Select All" (click)="execCmd('selectAll');">Select All</a>
      </div>
      <div class="col-md-12 mt-3 px-4">
        <iframe id="richTextField" [srcdoc]="content" class="h-75 rounded w-100"></iframe>
      </div>
      <div class="col-md-12 row align-items-center">
          <div class="col-md-2">
            <label for="" class="form-label">Type</label>
            <select [(ngModel)]="fileDetail.Type" class="form-select">
                <option value="" selected disabled>Select Type</option>
                <option [value]="item" *ngFor="let item of Type; let i = index;">{{item}}</option>
            </select>
          </div>
          <div class="col-md-2">
              <label for="" class="form-label">Part</label>
              <input type="number" min="0" placeholder="Part" [(ngModel)]="fileDetail.Part" class="form-control">
          </div>
          <div class="col-md-2">
              <img [src]="imgUrl" alt="thumbnail" class="img-thumbnail">
          </div>
          <div class="col-auto" (change)="uploadFile($event)">
            <input type="file" id="uploadocument" class="d-none" accept=".jpg, .jpeg, .png"/>
            <button type="button" (click)="fireBrowserImgFile()" class="btn btn-primary ms-1">Select File</button>
          </div>
          <div class="col-auto">
              <button class="btn btn-outline-success" (click)="saveContent()">Save</button>
          </div>
      </div>
  </div>
</div>
  
  <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="tableModal" tabindex="-1" aria-labelledby="tableModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content px-4">
        <div class="modal-header border-bottom-0">
          <h5 class="modal-title" id="tableModalLabel">Add Table</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <label for="" class="form-label">No of Column</label>
              <input type="number" class="form-control" [(ngModel)]="columns" placeholder="No of column">
            </div>
            <div class="col-md-6">
              <label for="" class="form-label">No of Row</label>
              <input type="number" class="form-control" [(ngModel)]="rows" placeholder="No of row">
            </div>
          </div>
        </div>
        <div class="modal-footer border-top-0">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button class="btn btn-success" (click)="addTable()">
            Add
          </button>
        </div>
      </div>
    </div>
  </div>
  