<div class="container">
    <div class="d-flex align-items-center col-md-12 my-5 pt-3">
        <div class="col-md-2">
            <img src="assets/codeplus.png" alt="" class="img-fluid" >
        </div>
        <div class="col-auto ms-2">
            <h5 class="fw-bold">Code Plus</h5>
            <span>{{now | date}}</span>
        </div>
    </div>
    <div class="col-md-12 border-top border-bottom border-dark text-end py-3 pe-2">
        <a href="javascript:void(0)" class="text-decoration-none text-dark">
            <i class="fa fa-thumbs-o-up pe-2 fa-lg" aria-hidden="true"></i>
        </a>
        <a href="javascript:void(0)" class="text-decoration-none text-dark">
            <i class="fa fa-bookmark-o px-2 fa-lg" aria-hidden="true"></i>
        </a>
        <a href="javascript:void(0)" class="text-decoration-none text-dark">
            <i class="fa fa-share-alt px-2 fa-lg" aria-hidden="true"></i>
        </a>
    </div>
    <div  class="mt-3">
        <h3 class="fw-bold">{{contentDetail.Title}}</h3>
        <div  [innerHTML]="content" class="mt-4"></div>
    </div>
</div>